#tic-tac-toe {
    /* background: rgb(245, 214, 219); */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    /* background: rgb(238, 128, 128); */
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cell {
    /* background: rgb(102, 102, 241); */
    height: 33%;
    width: 33%;
    border: 0px black solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(1) {
    border-width: 0 1px 1px 0;
}
.cell:nth-child(2) {
    border-width: 0 1px 1px 0;
}
.cell:nth-child(3) {
    border-width: 0 0 1px 0;
}
.cell:nth-child(4) {
    border-width: 0 1px 1px 0;
}
.cell:nth-child(5) {
    border-width: 0 1px 1px 0;
}
.cell:nth-child(6) {
    border-width: 0 0 1px 0;
}
.cell:nth-child(7) {
    border-width: 0 1px 0 0;
}
.cell:nth-child(8) {
    border-width: 0 1px 0px 0;
}
.cell:nth-child(9) {
    border-width: 0 0 0 0;
}

.cell span {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}